body {
  text-align: center;
  background-color: #011F3F;
  overflow: hidden;
  /* Hide scrollbar */
  margin: 0;
  /* Remove default margin */
  height: 100vh;
  /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  margin: 0%;
  color: #FEF2BF;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 3%;
  color: #FEF2BF;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 15px;
  height: 180px;
  width: 180px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
